task_2/Task2/TestClient/Connected Services/NorthwindServiceReference/Northwind1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://epm.com/Northwind" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://epm.com/Northwind" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://epm.com/Northwind/Imports">
      <xsd:import namespace="http://epm.com/Northwind" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INorthwindService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetDetailedOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedOrder" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetDetailedOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedOrderResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_SetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStatus" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_SetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="INorthwindService">
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://epm.com/Northwind/INorthwindService/GetOrders" message="tns:INorthwindService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://epm.com/Northwind/INorthwindService/GetOrdersResponse" message="tns:INorthwindService_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailedOrder">
      <wsdl:input wsaw:Action="http://epm.com/Northwind/INorthwindService/GetDetailedOrder" message="tns:INorthwindService_GetDetailedOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://epm.com/Northwind/INorthwindService/GetDetailedOrderResponse" message="tns:INorthwindService_GetDetailedOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://epm.com/Northwind/INorthwindService/CreateOrder" message="tns:INorthwindService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://epm.com/Northwind/INorthwindService/CreateOrderResponse" message="tns:INorthwindService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://epm.com/Northwind/INorthwindService/UpdateOrder" message="tns:INorthwindService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://epm.com/Northwind/INorthwindService/UpdateOrderResponse" message="tns:INorthwindService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStatus">
      <wsdl:input wsaw:Action="http://epm.com/Northwind/INorthwindService/SetStatus" message="tns:INorthwindService_SetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://epm.com/Northwind/INorthwindService/SetStatusResponse" message="tns:INorthwindService_SetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://epm.com/Northwind/INorthwindService/DeleteOrder" message="tns:INorthwindService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://epm.com/Northwind/INorthwindService/DeleteOrderResponse" message="tns:INorthwindService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>